@using RealHomeProject.Entities.Concrete
@model List<CompanyService>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var counter = 0;
}


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Company Service</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Dashboard/Index">Admin</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Company Service
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Company Service List Page</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a href="/Admin/CompanyService/CompanyServiceAdd/">
                                            Add
                                            <i class="ft-plus-circle"></i>
                                        </a>
                                    </li>
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"> Proccess</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            counter++;
                                            <tr>
                                                <th scope="row">@counter</th>
                                                <td>@item.ServiceName</td>
                                                <td>@item.ServiceDescription</td>
                                                <td>@item.Status</td>
                                                <td>
                                                    <a class="btn btn-outline-success" href="/Admin/CompanyService/CompanyServiceUpdate/@item.ID/"> Update</a>
                                                    <a class="btn btn-outline-danger" href="/Admin/CompanyService/CompanyServiceDelete/@item.ID/"> Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

