@using RealHomeProject.Entities.Concrete
@model BlogComment
@if (User.Identity.IsAuthenticated)
{
	<div class="leave">
		<h5>Leave a Comment</h5>
		<form method="post">
			<input type="text" placeholder="Name" required="" asp-for="NameSurname">
			<input type="text" placeholder="Email" required="" asp-for="Email">
			<input type="text" placeholder="Subject" required="" asp-for="Subject">
			<textarea placeholder="Comment" required="" asp-for="CommentText"></textarea >
			<label class="hvr-sweep-to-right">
				<input type="submit" value="Post Comment">
			</label>
		</form>
	</div>

}
else
{
	<p class="text-danger "> Yorum Yapmak istiyorsanız Lütfen Öncelikle <a href="/Login/SignIn/">Giriş Yapmanız</a> gerekmektedir...!</p>
}

