@if (User.Identity.IsAuthenticated)
{
    <div class="leave">
        <h5>Leave a Comment</h5>
        <form method="post" asp-action="CommentAdd" asp-controller="Comment">
            <input type="text" placeholder="Name" required="" name="NameSurname">
            <input type="text" placeholder="Email" required="" name="Email">
            <input type="text" placeholder="Subject" required="" name="Subject">
            <textarea placeholder="Comment" required="" name="CommentText"></textarea>
            <input type="hidden" class="form-control" name="BlogId" value="@ViewBag.id">
            <label class="hvr-sweep-to-right">
                <input type="submit" value="Post Comment">
            </label>
        </form>
    </div>
}
else
{
    <p class="text-danger mb-3"> Yorum Yapmak istiyorsanız Lütfen Öncelikle <a href="/Login/SignIn/">Giriş Yapmanız</a> gerekmektedir...!</p>
}





