<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    @await Html.PartialAsync("/Views/AdminLayout/_HeaderPartial.cshtml")
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">

    @await Html.PartialAsync("/Views/AdminLayout/_NavbarPartial.cshtml")

    @RenderBody()
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    @await Html.PartialAsync("/Views/AdminLayout/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/AdminLayout/_ScriptPartial.cshtml")

</body>
</html>