<!DOCTYPE html>
<html>
    @await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
<body>
    <!--header-->
    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")

    <!--content-->
    @RenderBody();
    
    <!--footer-->
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
    <!--//footer-->
</body>
</html>

